<h1>The Dash Puzzle!</h1>
<form action='/puzzleOutput'>
 <div class="form-group">
  <label for="Input">Enter a phrase!</label>
  <input type="text" class="form-control" id="sentenceInput" name="sentenceInput">
 </div>
 <button type="submit" class="btn btn-default">Submit</button>
</form>
